<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

  <!--> <link href="/assets/application.css" media="screen" rel="stylesheet" /><!-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
